@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap);
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  color: #2b2929;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 2rem;
}

h1::before {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 5rem;
  height: .25rem;
  background-color: #7756b9;
  border-radius: .125rem;
}

h1 a {
  color: #2b2929;
  text-decoration: none;
}

h1 a:hover span::after {
  transform: translate(3px, -3px);
  opacity: .2;
}

h1 a span {
  position: relative;
}

h1 a span::after {
  content: "";
  position: absolute;
  bottom: 1.8rem;
  right: -2rem;
  background-image: url("https://image.flaticon.com/icons/svg/376/376007.svg");
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
  opacity: .1;
  transition: .3s ease;
}

h1 > span {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
}

main {
  margin: 7rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

article {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(30, 30, 30, 0.12);
}

article figure img {
  width: 100%;
  height: auto;
}

article figcaption {
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

article figcaption h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: .5rem;
  line-height: 1.2;
}

article figcaption h2 a {
  color: inherit;
  text-decoration: none;
}

article figcaption h2 a:hover {
  color: inherit;
}

article figcaption p {
  line-height: 1.4;
  color: #8d8d8d;
  margin-bottom: 1rem;
}

article figcaption .buttons {
  display: flex;
  margin: 1rem 0 .5rem;
  justify-self: end;
}

article figcaption .buttons a {
  padding: 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  width: 50%;
  text-align: center;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  border-radius: 2rem 0 0 2rem;
  background-color: #aa86f1;
  transition: .3s ease;
  flex: 4;
}

article figcaption .buttons a:hover {
  flex: 5;
}

article figcaption .buttons .project-button {
  background-color: #7756b9;
  border-radius: 0 2rem 2rem 0;
}

.techs {
  list-style: none;
  margin-bottom: .5rem;
}

.techs li {
  display: inline-block;
  font-weight: 600;
  margin-right: .25rem;
  text-transform: uppercase;
}

.techs li.html {
  color: #e7572f;
}

.techs li.css {
  color: #0b86d8;
}

.techs li.js {
  color: #e9d227;
}

.techs li.react {
  color: #0dc2e2;
}

.techs li.vue {
  color: #43a579;
}

.techs li.angular {
  color: #c73739;
}

.techs li.api {
  color: #21bd9d;
}
