header {
  background-color: var(--top-bg-pattern);
  padding-bottom: 5rem;
  border-radius: 0 0 1rem 1rem;
  max-width: 1400px;
  margin: 0 auto;
  transition: 0.3s ease;
}

header .header-title {
  border-bottom: 1px solid var(--text-secondary);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  transition: 0.3s ease;
}

header .header-title p {
  font-weight: 700;
  color: var(--text-secondary);
  transition: 0.3s ease;
}

@media only screen and (min-width: 960px) {
  .wrapper .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header-title {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}
