@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap);
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  color: #202046;
  background-image: url("./images/pattern-curve.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.slider {
  height: 100%;
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  position: relative;
}

.slider .slide {
  width: 100%;
  display: none;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider .slide.vissible {
  display: flex;
}

.slider .slide.active .slide__image img {
  opacity: 1;
}

.slider .slide.active .slide__text blockquote p,
.slider .slide.active .slide__text blockquote cite {
  transform: translateY(0);
  opacity: 1;
}

.slider .slide.active.enter .slide__image img {
  transition-delay: .1s;
}

.slider .slide.active.enter .slide__text blockquote p {
  transition-delay: .5s;
}

.slider .slide.active.enter .slide__text blockquote cite {
  transition-delay: .8s;
}

.slider .slide__image {
  width: 100%;
  height: 100%;
  max-width: 12rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-image: url("./images/pattern-bg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slide__image img {
  width: 100%;
  height: auto;
  box-shadow: 0px 16px 48px -12px rgba(32, 32, 70, 0.4);
  border-radius: .5rem;
  transition: opacity .8s ease;
  opacity: 0;
  transition-delay: .8s;
}

.slider .slide__text {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/pattern-quotes.svg");
  background-position: top center;
  background-size: 2rem;
  background-repeat: no-repeat;
}

.slider .slide__text blockquote p {
  font-weight: 300;
  font-size: .75rem;
  line-height: 1.2;
  transition: .5s ease;
  transform: translateY(0.5rem);
  opacity: 0;
  transition-delay: .5s;
}

.slider .slide__text cite {
  font-style: normal;
  margin-top: .5rem;
  display: block;
  transition: .5s ease;
  transform: translateY(0.5rem);
  opacity: 0;
  transition-delay: .1s;
}

.slider .slide__text cite strong {
  font-size: .5rem;
  font-weight: 700;
}

.slider .slide__text cite span {
  display: block;
  color: #babacf;
  font-weight: 500;
  font-size: .5rem;
}

.slider .slider__buttons {
  z-index: 99;
  position: absolute;
  top: 9.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 0px 16px 48px -12px rgba(32, 32, 70, 0.4);
}

.slider .slider__buttons .prev {
  left: 0rem;
  border-radius: 50% 0 0 50%;
}

.slider .slider__buttons .next {
  right: 0rem;
  border-radius: 0 50% 50% 0;
}

.slider .slider__buttons .prev,
.slider .slider__buttons .next {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  transition: .2s ease;
  overflow: hidden;
}

.slider .slider__buttons .prev::after,
.slider .slider__buttons .next::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.slider .slider__buttons .prev:hover,
.slider .slider__buttons .next:hover {
  background-color: rgba(186, 186, 207, 0.2);
}

.slider .slider__buttons .prev::after {
  background-image: url("./images/icon-prev.svg");
}

.slider .slider__buttons .next::after {
  background-image: url("./images/icon-next.svg");
}

@media only screen and (min-width: 768px) {
  .slider .slide {
    flex-direction: row;
    text-align: left;
  }
  .slider .slide .slide__image {
    margin-left: -3rem;
    max-width: 100%;
  }
  .slider .slide .slide__image img {
    width: 12rem;
  }
  .slider .slide .slide__text {
    background-position: 15% top;
    background-size: 3rem;
    align-items: flex-start;
    z-index: 10;
    padding: 1.5rem 0;
  }
  .slider .slide .slide__text span {
    display: inline-block;
  }
  .slider .slider__buttons {
    top: 12.75rem;
    left: calc(100% - 7.5rem);
  }
}
