@import url(https://fonts.google.com/specimen/Manrope:500,700);
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: #6d7f97;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
}

html .container,
body .container {
  width: 90%;
  margin: 0 auto;
}

html .container .wrapper,
body .container .wrapper {
  background-color: white;
  width: 100%;
  max-width: 770px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 1rem;
  box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.04);
}

html .container .wrapper .wrapper-image,
body .container .wrapper .wrapper-image {
  overflow: hidden;
  max-height: 280px;
}

html .container .wrapper .wrapper-image img,
body .container .wrapper .wrapper-image img {
  border-radius: 1rem 0 0 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html .container .wrapper .wrapper-info,
body .container .wrapper .wrapper-info {
  padding: 2.5rem;
}

html .container .wrapper .wrapper-info h1,
body .container .wrapper .wrapper-info h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.4;
}

html .container .wrapper .wrapper-info p,
body .container .wrapper .wrapper-info p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

html .container .wrapper .wrapper-info .profile,
body .container .wrapper .wrapper-info .profile {
  display: flex;
  align-items: center;
}

html .container .wrapper .wrapper-info .profile > img,
body .container .wrapper .wrapper-info .profile > img {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

html .container .wrapper .wrapper-info .profile figcaption,
body .container .wrapper .wrapper-info .profile figcaption {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem 1rem 0;
}

html .container .wrapper .wrapper-info .profile figcaption h2,
body .container .wrapper .wrapper-info .profile figcaption h2 {
  font-size: .9rem;
  font-weight: 700;
  margin-bottom: .3rem;
}

html .container .wrapper .wrapper-info .profile figcaption p,
body .container .wrapper .wrapper-info .profile figcaption p {
  margin-bottom: 0px;
  color: #9eafc2;
  font-size: .9rem;
}

html .container .wrapper .wrapper-info .profile .share,
body .container .wrapper .wrapper-info .profile .share {
  position: relative;
}

html .container .wrapper .wrapper-info .profile .share .button-share,
body .container .wrapper .wrapper-info .profile .share .button-share {
  display: block;
  border-radius: 50%;
  background-color: #ecf2f8;
  position: relative;
  padding: .5rem;
  transition: 0.2s ease background-color;
}

html .container .wrapper .wrapper-info .profile .share .button-share:hover, html .container .wrapper .wrapper-info .profile .share .button-share.social-active,
body .container .wrapper .wrapper-info .profile .share .button-share:hover,
body .container .wrapper .wrapper-info .profile .share .button-share.social-active {
  background-color: #6d7f97;
}

html .container .wrapper .wrapper-info .profile .share .button-share:hover img, html .container .wrapper .wrapper-info .profile .share .button-share.social-active img,
body .container .wrapper .wrapper-info .profile .share .button-share:hover img,
body .container .wrapper .wrapper-info .profile .share .button-share.social-active img {
  filter: grayscale(1) brightness(200%);
}

html .container .wrapper .wrapper-info .profile .share .button-share img,
body .container .wrapper .wrapper-info .profile .share .button-share img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s ease filter;
}

html .container .wrapper .wrapper-info .profile .share .social-media,
body .container .wrapper .wrapper-info .profile .share .social-media {
  position: absolute;
  bottom: 180%;
  left: 50%;
  transform: translateX(-55%) translateY(25px);
  padding: 1.5rem 2rem;
  border-radius: .8rem;
  background-color: #48556a;
  display: flex;
  align-items: center;
  box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.04);
  transition: .3s ease;
  opacity: 0;
  visibility: hidden;
}

html .container .wrapper .wrapper-info .profile .share .social-media.social-active,
body .container .wrapper .wrapper-info .profile .share .social-media.social-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-55%) translateY(0);
}

html .container .wrapper .wrapper-info .profile .share .social-media::before,
body .container .wrapper .wrapper-info .profile .share .social-media::before {
  content: "";
  box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.04);
  border-style: solid;
  border-width: 15px 12px 15px 0;
  border-color: transparent #48556a transparent transparent;
  transform: rotate(-90deg) translateX(-50%);
  position: absolute;
  bottom: -12px;
  left: calc(50% + 4px);
}

html .container .wrapper .wrapper-info .profile .share .social-media span,
body .container .wrapper .wrapper-info .profile .share .social-media span {
  text-transform: uppercase;
  color: #6d7f97;
  letter-spacing: .3rem;
  font-size: .9rem;
  margin-right: .8rem;
}

html .container .wrapper .wrapper-info .profile .share .social-media a,
body .container .wrapper .wrapper-info .profile .share .social-media a {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  margin: 0 .6rem;
  transition: 0.2s ease transform;
}

html .container .wrapper .wrapper-info .profile .share .social-media a:hover,
body .container .wrapper .wrapper-info .profile .share .social-media a:hover {
  transform: translateY(-4px);
}

html .container .wrapper .wrapper-info .profile .share .social-media a img,
body .container .wrapper .wrapper-info .profile .share .social-media a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  html .container .wrapper,
  body .container .wrapper {
    display: flex;
    flex-direction: column;
  }
  html .container .wrapper .wrapper-image,
  body .container .wrapper .wrapper-image {
    height: 220px;
  }
  html .container .wrapper .wrapper-image img,
  body .container .wrapper .wrapper-image img {
    border-radius: 1rem 1rem 0 0;
  }
  html .container .wrapper .wrapper-info,
  body .container .wrapper .wrapper-info {
    position: relative;
    padding: 2rem 2rem 1rem;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
  }
  html .container .wrapper .wrapper-info h1,
  body .container .wrapper .wrapper-info h1 {
    font-size: 1.3rem;
  }
  html .container .wrapper .wrapper-info p,
  body .container .wrapper .wrapper-info p {
    margin-bottom: 3rem;
  }
  html .container .wrapper .wrapper-info .profile .share,
  body .container .wrapper .wrapper-info .profile .share {
    position: initial;
  }
  html .container .wrapper .wrapper-info .profile .share .button-share,
  body .container .wrapper .wrapper-info .profile .share .button-share {
    z-index: 10;
  }
  html .container .wrapper .wrapper-info .profile .share .social-media,
  body .container .wrapper .wrapper-info .profile .share .social-media {
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    box-shadow: none;
    transform: translateX(0) translateY(100%);
    padding: 2rem 2.5rem;
    opacity: 1;
  }
  html .container .wrapper .wrapper-info .profile .share .social-media.social-active,
  body .container .wrapper .wrapper-info .profile .share .social-media.social-active {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  html .container .wrapper .wrapper-info .profile .share .social-media::before,
  body .container .wrapper .wrapper-info .profile .share .social-media::before {
    display: none;
  }
  html .container .wrapper .wrapper-info .profile .share .social-media span,
  body .container .wrapper .wrapper-info .profile .share .social-media span {
    font-size: 1rem;
  }
  html .container .wrapper .wrapper-info .profile .share .social-media a,
  body .container .wrapper .wrapper-info .profile .share .social-media a {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 .8rem;
  }
}
