// COLORS
$dark-grayish-blue: hsl(217, 19%, 35%)
$dark-blue: hsl(214, 17%, 51%)
$grayish-blue: hsl(212, 23%, 69%)
$light-grayish-blue: hsl(210, 46%, 95%)
$white: rgb(255, 255, 255)
$black: rgb(0, 0, 0)

// SIZES
$mobile: 375px
$tablet: 768px
$desktop: 1440px

// FONTS
@import url(https://fonts.google.com/specimen/Manrope:500,700)

$manrope: 'Manrope', sans-serif
$base-font-size: 13px

// STYLES 
*
  padding: 0px
  margin: 0px
  box-sizing: border-box

// MIXINS
@mixin image($fit)
  width: 100%
  height: 100%
  object-fit: $fit

@mixin transition($property)
  transition: .2s ease $property

html,
body
  font-family: $manrope
  font-size: $base-font-size
  color: $dark-blue
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: $light-grayish-blue

  .container
    width: 90%
    margin: 0 auto

    .wrapper
      background-color: $white
      width: 100%
      max-width: 770px
      display: grid
      grid-template-columns: 2fr 3fr
      border-radius: 1rem
      box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, .04)

      .wrapper-image
        overflow: hidden
        max-height: 280px

        img
          border-radius: 1rem 0 0 1rem
          @include image($fit: cover)

      .wrapper-info
        padding: 2.5rem

        h1
          font-size: 1.5rem
          font-weight: 700
          margin-bottom: 1rem
          line-height: 1.4

        p
          line-height: 1.6
          margin-bottom: 1rem

        .profile
          display: flex
          align-items: center

          &>img
            border-radius: 50%
            width: 2.8rem
            height: 2.8rem

          figcaption
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center
            padding: .5rem 1rem 0

            h2
              font-size: .9rem
              font-weight: 700
              margin-bottom: .3rem
            
            p
              margin-bottom: 0px
              color: $grayish-blue
              font-size: .9rem

          .share
            position: relative

            .button-share
              display: block
              border-radius: 50%
              background-color: $light-grayish-blue
              position: relative
              padding: .5rem
              @include transition($property: background-color)


              &:hover,
              &.social-active
                background-color: $dark-blue

                img
                  filter: grayscale(1) brightness(200%)

              img 
                @include image($fit: contain)
                @include transition($property: filter)


            .social-media
              position: absolute
              bottom: 180%
              left: 50%
              transform: translateX(-55%) translateY(25px)
              padding: 1.5rem 2rem
              border-radius: .8rem
              background-color: $dark-grayish-blue
              display: flex
              align-items: center
              box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, .04)
              transition: .3s ease
              opacity: 0
              visibility: hidden

              &.social-active
                opacity: 1
                visibility: visible
                transform: translateX(-55%) translateY(0)

              &::before
                content: ""
                box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, .04)
                border-style: solid
                border-width: 15px 12px 15px 0
                border-color: transparent $dark-grayish-blue transparent transparent
                transform: rotate(-90deg) translateX(-50%)
                position: absolute
                bottom: -12px
                left: calc(50% + 4px)

              span
                text-transform: uppercase
                color: $dark-blue
                letter-spacing: .3rem
                font-size: .9rem
                margin-right: .8rem

              a
                width: 1.2rem
                height: 1.2rem
                display: inline-block
                margin: 0 .6rem                
                @include transition($property: transform)

                &:hover
                  transform: translateY(-4px)

                img                   
                  @include image($fit: contain)


@media screen and (max-width: $tablet)
  html,
  body

    .container

      .wrapper
        display: flex
        flex-direction: column

        .wrapper-image
          height: 220px

          img
            border-radius: 1rem 1rem 0 0

        .wrapper-info
          position: relative
          padding: 2rem 2rem 1rem
          overflow: hidden
          border-radius: 0 0 1rem 1rem

          h1
            font-size: 1.3rem

          p
            margin-bottom: 3rem

          .profile

            .share
              position: initial

              .button-share
                z-index: 10

              .social-media
                left: 0px
                bottom: 0px
                width: 100%
                border-radius: 0 0 1rem 1rem
                box-shadow: none
                transform: translateX(0) translateY(100%)
                padding: 2rem 2.5rem
                opacity: 1

                &.social-active
                  transform: translateX(0) translateY(0)
                  opacity: 1

                &::before
                  display: none

                span
                  font-size: 1rem

                a
                  width: 1.5rem
                  height: 1.5rem
                  margin: 0 .8rem



